version: '3'

services:

  mysql-server:
    image: mysql:latest
    container_name: mysql-server
    ports:
      - 3307:3306
    environment:
      - MYSQL_DATABASE=library
      - MYSQL_ROOT_PASSWORD=qwerty
    networks:
      library-cluster:
        aliases:
          - mysql-server-host

  library:
    build: .
    environment:
      - NODE_ENV=production
    depends_on:
      - mysql-server
    networks:
      library-cluster:
        aliases:
          - library
    command: ["./wait-for-it.sh", "mysql-server-host:3306", "--", "npm", "run", "start:prod"]

  load-balancer:
    build: ./load-balancer
    container_name: load-balancer
    ports:
      - 3001:80
    depends_on:
      - library
    networks:
      - library-cluster

networks:
  library-cluster:
    driver: bridge
    ipam:
      config:
        - subnet: 173.22.0.0/16
